.topbar .navbar-brand {
    border-bottom: 1px solid #e4e4e4;
}

.topbar .navbar-brand .logo-icon{
    width: 40px;
    border-radius: 50%;
}

.topbar .navbar-brand .logo-text{
    color: #585858;
}

.topbar .navbar-brand .logo-text span{
    color: #2f323e;
    font-weight: bold;

}